@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));
  ::view-transition-old(root), ::view-transition-new(root) {
    animation: none;
    mix-blend-mode: normal;
}

  @theme inline {
    --animate-meteor: meteor 5s linear infinite;
  @keyframes meteor {
  0% {
    transform: rotate(var(--angle)) translateX(0);
    opacity: 1;
        }
  70% {
    opacity: 1;
        }
  100% {
    transform: rotate(var(--angle)) translateX(-500px);
    opacity: 0;
        }
    }
}
